table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  background-color: #dbddd8; 
  line-height: 1.8;
}

.cont{
  width: 100%;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e2e6ea;
}
p{
  cursor: pointer;
}